// colors
$brand: #482828;
$orange: #E08631;
$text: #333333;
$light: #faf8f0;

// general
$text-fz: 14px;
$container: 1110px;
$font: "Montserrat";
$weight: 400;


// breakpoints
$xl: $container;
$lg: 1024px;
$md: 768px;
$sm: 425px;
$xs: 350px;

