---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Каталог">
  <section class="price">
    <div class="container">
      <div class="wrapper">
        <div class="box">
          <h4 class="text">Brand</h4>
          <div class="img">
            <img
              src="https://cdn-icons-png.flaticon.com/512/60/60995.png"
              alt=""
            />
          </div>
        </div>
        <div class="box">
          <h4 class="text">Цена</h4>
          <div class="img">
            <img
              src="https://cdn-icons-png.flaticon.com/512/60/60995.png"
              alt=""
            />
          </div>
        </div>
        <div class="box">
          <h4 class="text">Для кого</h4>
          <div class="img">
            <img
              src="https://cdn-icons-png.flaticon.com/512/60/60995.png"
              alt=""
            />
          </div>
        </div>
        <div class="box">
          <h4 class="text">Коллекция</h4>
          <div class="img">
            <img
              src="https://cdn-icons-png.flaticon.com/512/60/60995.png"
              alt=""
            />
          </div>
        </div>
        <div class="box">
          <h4 class="text">Сезон</h4>
          <div class="img">
            <img
              src="https://cdn-icons-png.flaticon.com/512/60/60995.png"
              alt=""
            />
          </div>
        </div>
        <div class="box wrapper">
          <h4 class="text">Событие</h4>
          <div class="img">
            <img
              src="https://cdn-icons-png.flaticon.com/512/60/60995.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card">
          <div class="img">
            <img
              src="https://svadbagolik.ru/images/article/13567.700x551.1405063379.jpg"
              alt=""
            />
          </div>
          <h4 class="title">Подвеска</h4>
          <h2 class="subtitle">Dolce & Gabanna</h2>
          <button class="btn">175 000 ₽</button>
        </div>
        <div class="card">
          <div class="img">
            <img
              src="https://svadbagolik.ru/images/article/13567.700x551.1405063379.jpg"
              alt=""
            />
          </div>
          <h4 class="title">Подвеска</h4>
          <h2 class="subtitle">Dolce & Gabanna</h2>
          <button class="btn">175 000 ₽</button>
        </div>
        <div class="card">
          <div class="img">
            <img
              src="https://svadbagolik.ru/images/article/13567.700x551.1405063379.jpg"
              alt=""
            />
          </div>
          <h4 class="title">Подвеска</h4>
          <h2 class="subtitle">Dolce & Gabanna</h2>
          <button class="btn">175 000 ₽</button>
        </div>
      </div>
      <br /><br /><br /><br /><br /><br />
      <hr />
      <div class="wrapper">
        <div class="card">
          <div class="img">
            <img
              src="https://svadbagolik.ru/images/article/13567.700x551.1405063379.jpg"
              alt=""
            />
          </div>
          <h4 class="title">Подвеска</h4>
          <h2 class="subtitle">Dolce & Gabanna</h2>
          <button class="btn">175 000 ₽</button>
        </div>
        <div class="card">
          <div class="img">
            <img
              src="https://svadbagolik.ru/images/article/13567.700x551.1405063379.jpg"
              alt=""
            />
          </div>
          <h4 class="title">Подвеска</h4>
          <h2 class="subtitle">Dolce & Gabanna</h2>
          <button class="btn">175 000 ₽</button>
        </div>
        <div class="card">
          <div class="img">
            <img
              src="https://svadbagolik.ru/images/article/13567.700x551.1405063379.jpg"
              alt=""
            />
          </div>
          <h4 class="title">Подвеска</h4>
          <h2 class="subtitle">Dolce & Gabanna</h2>
				 
          <button  class="btn">175 000 ₽</button>
			
        </div>
      </div>
			<form action="/zakaz" target="_blank">
      <button class="btn">покажите еще</button>
		</form>
    </div>
  </section>
  <!-- services -->
  <section class="services">
    <div class="container">
      <div class="wrapper">
        <div class="left">
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eos
            harum debitis quo hic, voluptates ab ipsum, dicta laborum
            consequuntur deleniti quaerat ex, soluta recusandae. Minus nulla,
            neque reprehenderit molestias ducimus ullam rerum tempora libero.
            Temporibus quidem exercitationem aut, iusto itaque, commodi facilis
            recusandae soluta, nihil aspernatur consequatur placeat! Omnis
            reprehenderit quos, eveniet consequuntur iste et aspernatur vitae!
            Tempore doloremque eos error. Iure repudiandae minus vitae obcaecati
            maiores velit autem. Soluta quaerat ab corrupti enim laboriosam
            libero delectus totam nulla quas modi molestias consequatur officia
            suscipit dignissimos ducimus fugit possimus vero amet sit beatae,
            provident est animi aliquam ipsam! Provident!
          </p>
        </div>
        <div class="right">
          <div class="wrapper">
            <div class="card">
              <div class="img">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/709/709790.png"
                  alt=""
                />
              </div>
              <h2 class="title">Бесплатная доставка</h2>
            </div>
            <div class="card">
              <div class="img">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/3898/3898922.png"
                  alt=""
                />
              </div>
              <h2 class="title">Индивидуальный дизайн</h2>
            </div>
          </div>

          <div class="wrapper-2">
            <div class="card">
              <div class="img">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/5856/5856967.png"
                  alt=""
                />
              </div>
              <h2 class="title">Бесплатная примерка</h2>
            </div>
            <div class="card">
              <div class="img">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/3985/3985821.png"
                  alt=""
                />
              </div>
              <h2 class="title">Личный подход</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
	
</Layout>

<style lang="scss">
  // price
  .price {
    .container {
      .wrapper {
        display: flex;
        gap: 50px;
        .box {
          margin-top: 100px;
          display: flex;

          border-bottom: 1px solid #d6d6d6;

          .text {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

            color: #333333;
          }
          .img {
            width: 12px;
            margin-left: 50px;
            margin-top: 5px;
            img {
              width: 100%;
            }
          }
        }
      }
      .wrapper {
        display: flex;
        gap: 100px;
        .card {
          margin-top: 95px;
          .img {
            width: 280px;
            img {
              width: 100%;
            }
          }
          .title {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

            text-align: center;
            margin: 25px 0px 10px;
            color: #333333;
          }
          .subtitle {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            margin-bottom: 15px;
            text-align: center;

            color: #333333;
          }
          .btn {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            background: #333333;

            border: 1px solid #ffffff;
            margin-left: 80px;

            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding: 10px 20px;
            color: #ffffff;
          }
        }
      }
      .btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        background: #333333;

        border: 1px solid #ffffff;

        color: #ffffff;
        margin-bottom: 105px;
        margin-left: 400px;
        padding: 15px 35px;
      }
    }
  }
  // Services
  .services {
    .container {
      .wrapper {
        gap: 100px;
        display: flex;
        .left {
          width: 540px;
          .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
          }
        }
        .right {
          .wrapper {
            display: flex;

            .card {
              .img {
                width: 62px;
                img {
                  width: 100px;
                }
              }
              .title {
                font-family: "Gilroy";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
             

                text-align: center;

                color: #000000;
              }
            }
          }
          .wrapper-2 {
            display: flex;
						gap:100px;	
            .card {
              .img {
                width: 62px;
                img {
                  width: 100px;
                }
              }
							.title {
                font-family: "Gilroy";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
             

                text-align: center;

                color: #000000;
              }	
            }
          }
        }
      }
    }
  }
</style>
