---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro First project">
  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <h1 class="title">Долго, дорого, богато!</h1>
			<form action="/catalog" target="_blank">
				
			 
      <button type="submit"   class="btn">каталог изделий</button>
		</form>
			<br /><br />
      <hr />
      <div class="wrapper">
        <div class="img">
          <img
            src="https://icons.veryicon.com/png/o/miscellaneous/maxberry_icon_font/logo-27.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://icons.veryicon.com/png/o/miscellaneous/maxberry_icon_font/logo-27.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://icons.veryicon.com/png/o/miscellaneous/maxberry_icon_font/logo-27.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://icons.veryicon.com/png/o/miscellaneous/maxberry_icon_font/logo-27.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://icons.veryicon.com/png/o/miscellaneous/maxberry_icon_font/logo-27.png"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://icons.veryicon.com/png/o/miscellaneous/maxberry_icon_font/logo-27.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="about">
    <div class="container">
      <div class="text">
        <h3 class="subtitle">Не знаете, что выбрать?</h3>
        <h2 class="title">Посетите наши салоны в Москве</h2>
        <p class="lorem">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis
          tortor vitae pellentesque egestas quam pulvinar. Pellentesque
          porttitor velit sit pellentesque. Suspendisse donec pretium id
          dignissim. Dignissim ultrices eget orci viverra. Egestas quis et ut
          ultrices imperdiet lectus nulla tempus. Pharetra lorem sem purus nisi
          libero viverra ipsum.
        </p>
      </div>
      <button class="btn">наши салоны</button>
    </div>
  </section>

  <!-- Blog -->
  <section class="blog">
    <div class="container">
      <h4 class="subtitle">Полезные статьи</h4>
      <h2 class="title">Лучшие советы по подбору дорогих подарков</h2>
      <div class="wrapper">
        <div class="img">
          <img
            src="https://novgorod.cokgold.ru/upload/resize_cache/webp/upload/iblock/fa1/9c8h0idj3kt4gqtk8ws27pt0vlm95lgj.webp"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://lavivion.ru/upload/image/4U2882-Koltso-iz-belogo-zolota-s-brilliantom_1.jpg"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://zolotoy-telets.ru/files/products/68ef1b20-bc30-11eb-8338-00155d188f08_3a3205b5-ba3e-11ec-9c79-00155d188f08.450x450.jpeg"
            alt=""
          />
        </div>
      </div>
      <button class="btn">читать наш блог</button>
    </div>
  </section>
  <section class="app">
    <div class="container">
      <h4 class="title">#ojjo_jewerly</h4>
      <h2 class="subtitle">Мы в социальных сетях</h2>
      <div class="wrapper">
        <div class="img">
          <img
            src="https://hiking.ru/wp-content/uploads/2013/08/ring-clock.jpg"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://frankfurt.apollo.olxcdn.com/v1/files/o8h3ap3h7a2g-UZ/image;s=1020x768"
            alt=""
          />
        </div>
        <div class="img">
          <img
            src="https://img.freepik.com/premium-photo/engagement-rings-wedding-rings-for-couples-on-a-wooden-background-for-wedding-luxury-engagement-diamond-ring-jewelry_10541-3222.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="wrapper">
      <div class="img">
        <img
          src="https://zoodmall.com/cdn-cgi/image/w=600,fit=contain,f=auto/https://images.zoodmall.com/cloudinary/09/c6c/http%253A%252F%252Fwww.welenespicshop.com%252Ftupian9%252FWWL201013655_0634492423062675897.jpg"
          alt=""
        />
      </div>
      <div class="img">
        <img
          src="https://ae01.alicdn.com/kf/H979b07d2882b4afca9974e096a740dd9N.jpg"
          alt=""
        />
      </div>
      <div class="img">
        <img
          src="https://jewel-design.ru/upload/resize_cache/iblock/b94/399_350_1/b94f18b1a1718dd066dda899b7b1ba5b.jpg"
          alt=""
        />
      </div>
			</div>

    </div>
  </section>
</Layout>

<style lang="scss">
  // Hero
  .hero {
    background: #482828;

    .title {
      font-family: "Noto Serif";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 49px;

      text-align: center;

      color: #ffffff;
      padding: 250px 0px 50px;
    }
    .btn {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #ffffff;
      background: #333333;
      padding: 15px 35px;

      border: 1px solid #ffffff;
      margin-bottom: 80px;
      margin-left: 400px;
    }
    hr {
      margin-bottom: 30px;
    }
    .wrapper {
      display: flex;
      .img {
        border-right: 1px solid #ffffff;
        width: 160px;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
    }
  }

  // About
  .about {
    background-color: #000000;
    .text {
      padding: 100px 160px 60px;
      .subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 140%;

        text-align: center;

        color: #ffffff;
        padding-bottom: 15px;
      }
      .title {
        font-family: "Noto Serif";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;

        text-align: center;
        color: #ffffff;
      }
      .lorem {
        width: 730px;
        height: 100px;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        padding-top: 45px;

        text-align: center;

        color: #ffffff;
      }
    }
    .btn {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;

      text-transform: uppercase;

      background: #ffffff;

      border: 1px solid #333333;

      color: #333333;
      padding: 15px 35px;
      margin: 50px 420px 100px;
    }
  }

  // Blog
  .blog {
    .container {
      padding: 120px 0px;

      .subtitle {
        font-weight: 400;
        font-size: 21px;
        line-height: 140%;

        text-align: center;
        color: #333333;
        margin-bottom: 15px;
      }
      .title {
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;

        text-align: center;

        color: #333333;
        margin-bottom: 60px;
      }
      .wrapper {
        display: flex;
        gap: 30px;
        .img {
          width: 350px;
          img {
            width: 100%;
          }
        }
      }
      .btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background: #333333;
        padding: 15px 35px;
        margin-top: 60px;
        border: 1px solid #ffffff;

        color: #ffffff;
        margin-left: 430px;
      }
    }
  }
  // App
  .app {
    .container {
      .title {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 140%;

        text-align: center;

        color: #333333;
      }
      .subtitle {
        font-family: "Noto Serif";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;

        text-align: center;

        color: #333333;
      }
      .wrapper {
        display: flex;
				gap: 30px;
				margin: 60px 200px 150px;
        .img {
          width: 500px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
</style>
