<footer class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="card-1">
        <h3 class="title">Полезные ссылки</h3>
        <hr />
        <div class="subtitle">
          <ul class="menu">
            <li class="menu-items">
              <a href="" class="menu-link">Доставка</a>
            </li>
            <li class="menu-items">
              <a href="" class="menu-link">Оплата</a>
            </li>
            <li class="menu-items">
              <a href="" class="menu-link">Акции</a>
            </li>
            <li class="menu-items">
              <a href="" class="menu-link">Политика конфиденциальности</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-2">
        <h3 class="title">оплата</h3>
        <hr />
        <div class="subtitle">
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            justo, nec, pellentesque.
          </p>
        </div>
        <div class="images">
          <div class="img-visa">
            <img
              src="https://bi-jingo.com/wp-content/uploads/2002/03/visa-5-logo-png-transparent.png"
              alt=""
            />
          </div>
          <div class="img-master">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/2560px-MasterCard_Logo.svg.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="card-3">
        <h3 class="title">контакты</h3>
        <hr />
        <div class="subtitle">
          <ul class="menu">
            <li class="menu-items">
              <a href="" class="menu-link">8 (812) 234-56-55</a>
            </li>

            <li class="menu-items">
              <a href="" class="menu-link">8 (812) 234-56-55</a>
            </li>

            <li class="menu-items">
              <a href="" class="menu-link">ojjo@ojjo.ru</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card-4">
        <h3 class="title">социальные сети</h3>
        <hr />
        <div class="subtitle">
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            justo, nec, pellentesque.
          </p>
        </div>
        <!-- <div class="images wrapper">
        <div class="youtube">
          <img
            src="https://cdn-icons-png.flaticon.com/512/152/152810.png"
            alt=""
          />
        </div>
        <div class="vk">
          <img
            src="https://cdn-icons-png.flaticon.com/512/39/39699.png"
            alt=""
          />
        </div>
        <div class="facebook">
          <img
            src="https://cdn-icons-png.flaticon.com/512/20/20837.png"
            alt=""
          />
        </div>
        <div class="telegram">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2111/2111708.png"
            alt=""
          />
        </div>
        <div class="etsy">
          <img
            src="https://cdn-icons-png.flaticon.com/512/49/49106.pnghttps://cdn-icons-png.flaticon.com/512/49/49106.png"
            alt=""
          />
        </div>
      </div> -->
      </div>
    </div>
    <br /><br /><br />
    <hr />
    <nav class="navbar">
      <ul class="menu">
        <li class="menu-items">
          <a href="" class="menu-link"> (c) 2020 OJJO jewelry</a>
        </li>
        <li class="menu-items">
          <a href="" class="menu-link"> Договор публичной офферты</a>
        </li>
        <li class="menu-items">
          <a href="" class="menu-link"> Контрагентам</a>
        </li>
        <li class="menu-items">
          <a href="" class="menu-link"> Сделано Figma.info</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
<!-- style -->
<style lang="scss">
  .footer {
		padding: 80px 200px;
    .wrapper {
      display: flex;
      gap: 30px;
      .card-1 {
        width: 255px;
        height: 194px;
        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          color: #333333;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .subtitle {
          padding-top: 20px;
          .menu {
            .menu-items {
              margin-top: 15px;
              .menu-link {
                font-weight: 400;
                font-size: 14px;

                color: #333333;
              }
            }
          }
        }
      }
      .card-2 {
        width: 255px;
        height: 194px;
        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          color: #333333;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .subtitle {
          padding-top: 10px;

          .text {
            margin-top: 15px;
            font-weight: 400;
            font-size: 14px;

            color: #333333;
            width: 255px;
          }
        }
        .images {
          margin-top: 20px;
          display: flex;
          gap: 20px;
          .img-visa {
            width: 45px;
            img {
              width: 100%;
            }
          }
          .img-master {
            width: 45px;
            margin-top: 7px;
            img {
              width: 100%;
            }
          }
        }
      }
      .card-3 {
        width: 255px;
        height: 194px;
        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          color: #333333;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .subtitle {
          padding-top: 10px;
          .menu {
            .menu-items {
              margin-top: 15px;

              .menu-link {
                font-weight: 400;
                font-size: 14px;

                color: #333333;
              }
            }
          }
        }
      }
      .card-4 {
        width: 255px;
        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          color: #333333;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .subtitle {
          padding-top: 10px;
          .text {
            margin-top: 15px;
            font-weight: 400;
            font-size: 14px;

            color: #333333;
            width: 255px;
          }
        }
      }
      // .images {
      //   .wrapper {
      //     // display: flex;
      //     .youtube{
      //      width: 20px;
      // 		 img{
      // 			width: 100%;
      // 		 }
      //       }
      //     }

      //   }
    }
    .navbar {
      margin-top: 20px;
      .menu {
        display: flex;
        justify-content: space-between;
        .menu-items {
          .menu-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;

            color: #333333;
          }
        }
      }
    }
  }
</style>
