<section class="sign">
  <div class="container">
    <div class="top">
      <p class="subtitle">Полезные советы и персональный предложения</p>
      <h2 class="title">Эксклюзивная рассылка</h2>
    </div>
    <div class="wrapper">
      <div class="left">
        <div class="wrapper">
          <div class="img">
            <img
              src="https://icon-library.com/images/player-icon/player-icon-1.jpg"
              alt=""
            />
          </div>
          <p class="text">Личный менеджер</p>
        </div>
        <div class="wrapper">
          <div class="img">
            <img
              src="https://icon-library.com/images/player-icon/player-icon-1.jpg"
              alt=""
            />
          </div>
          <p class="text">Доставка и оформление</p>
        </div>
        <div class="wrapper">
          <div class="img">
            <img
              src="https://icon-library.com/images/player-icon/player-icon-1.jpg"
              alt=""
            />
          </div>
          <p class="text">Индивидуальный дизайн</p>
        </div>
      </div>
      <div class="right wrapper">
        <div class="in">
          <input type="text" placeholder="Ваш e-mail" />
          <button class="btn">отправить</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Style -->
<style lang="scss">
  .sign {
    background: black;

    padding: 120px 405px;

    .top {
      margin: 0px 350px 60px 0px;
      .subtitle {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 140%;
        color: #ffffff;
        text-align: center;
      }
      .title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        color: #ffffff;
        text-align: center;
      }
    }
    .wrapper {
      display: flex;
      gap: 80px;
      .left {
        width: 245px;
        height: 105px;
        .wrapper {
          display: flex;
          margin-top: 15px;
          gap: 20px;
          .img {
            width: 17px;

            img {
              width: 100%;
            }
          }
          .text {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;

            color: #ffffff;
          }
        }
      }
      .right {
        width: 458px;
        border: 1px solid #ffffff;
        .in {
          width: 100%;
          background: #fff;
          padding: 15px;
          input {
            background: #ffffff;
            border: 1px solid #d6d6d6;
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            padding: 15px 50px 15px 20px;
            color: rgba(51, 51, 51, 0.5);
            margin: 20px;
          }
          .btn {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #ffffff;
            background: #333333;
            border: 1px solid #ffffff;
						padding: 15px;
						
          

          }
        }
      }
    }
  }
</style>
